
<div class="container-fluid">
    <div class="col-md-12 well">
    	<h3 class="cls_plainheader">Worker Job Details</h3>
    	<form name="vendorSearchForm" novalidate ng-submit="submit" > 
        	<div class="col-md-12">
            	<!-- <a class="btn btn-primary pull-right" ng-href="#/workerJobDetails/create" ng-click="clearAllFields">Add New Worker Job <i class="fa fa-plus-circle"></i></a> -->
            	<br />
            	<br />
            	<br />
            	<div class="panel panel-primary">
            		<div class="panel-heading">
             			<h5 >Search Existing Worker Job Details</h5>
            		</div>
                	<div class="sepr">
                    	<div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label for="customerName" class="col-md-4 control-label">Customer Name</label>
	                                <div class="col-md-8 select-box">
	                                	<select  ng-model="customerName" ng-options="item.customerId as item.customerName for item in customerList " class="form-control" id="customerName" ng-change="fun_CustomerChangeListener()" ng-disabled="dropdownDisable" >
	                                        <option value="">Select</option>
	                                    </select>   
										<span class="input-group-btn">
											<label for="Select1" class="fa fa-caret-down"></label>
										</span>                                   
	                                </div>
	                            </div>
	                            
	                            <div class="form-group">
	                                <label for="vendorName" class="col-md-4 control-label">Vendor Name</label>
	                                <div class="col-md-8 select-box">                                    
	                                    <select  ng-model="vendorName" ng-options="item.id as item.name for item in vendorList " class="form-control" id="vendorName" ng-disabled="dropdownDisable">
	                                        <option value="">Select</option>
	                                    </select>
										<span class="input-group-btn">
											<label for="Select1" class="fa fa-caret-down"></label>
										</span> 
	                                </div>
	                            </div>
	                            
	                            <div class="form-group">
	                                <label for="workerCode" class="col-md-4 control-label"> Worker Code </label>
	                                <div class="col-md-8">
	                                	<input  ng-model="workerCode" class="form-control" id="workerCode" placeholder="Worker Code"  maxlength="20"/>                                  
	                                </div>
	                            </div>
	                            
	                        </div> 
	                         
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label for="companyName" class="col-md-4 control-label">Company Name</label>
	                                <div class="col-md-8 select-box">
	                                	<select  ng-model="companyName" ng-options="item.id as item.name for item in companyList " class="form-control" id="companyName" ng-change="fun_CompanyChangeListener()" ng-disabled="dropdownDisable">
	                                    	<option value="">Select</option>
	                                    </select>
	                                            
										<span class="input-group-btn">
											<label for="Select1" class="fa fa-caret-down"></label>
										</span>                                      
	                                </div>
	                            </div>
	                            
								<!-- <div class="form-group">
	                                <label for="status" class="col-md-4 control-label"> Status  </label>
	                                <div class="col-md-8 select-box">
	                                    <select  ng-model="status" ng-options="item.id as item.name for item in list_status " class="form-control" id="status" >
	                                            <option value="">Select</option>
	                                    </select>
										<span class="input-group-btn">
											<label for="Select1" class="fa fa-caret-down"></label>
										</span> 
	                                </div>
	                            </div> -->
	                        
	                            <div class="form-group">
	                                <label for="workerName" class="col-md-4 control-label"> Worker Name </label>
	                                <div class="col-md-8">
	                                	<input  ng-model="workerName" class="form-control" id="workerName" placeholder="Worker Name"  maxlength="45" />                                  
	                                </div>
	                            </div>
	                            
	                        </div>

	                        <div class="col-md-6 pull-right">
	                            <a class="btn btn-primary col-md-3 col-md-offset-5" ng-click="fun_searchGridData()">Search <i class="fa fa-search"></i></a>
	                            <button class="btn btn-warning col-md-3" type="reset" ng-click="fun_clearSsearchFields()">Clear<i class="fa fa-times"></i></button>
	                        </div>
                    	</div>
                	</div>
            	</div>
            	<div class="panel panel-primary" ng-show="workJobDetailsTableView">
		            <div class="panel-heading">
		             <h5>Search Result</h5>
		            </div>
                	<div class="sepr">
                    	<div>
	                        <table class="table table-striped" id="workJobDetailsTable">
	                            <thead>
	                                <tr>        
	                                    <th>Worker Name</th>	                                                                                            
	                                    <th>Customer Name</th>
	                                    <th>Company Name</th>
	                                    <th>Vendor Name</th>                                                                        
										<th>Transaction Date</th>						                                                                
	                                   <!--  <th>Status</th> -->
	                                </tr>
	                            </thead>
	                           <!--  <tbody>
	                                <tr ng:repeat="i in result" on-last-repeat>                                                                       
	                                    <td>{{i.customerName}}</td> 
	                                    <td>{{i.companyName}}</td> 
	                                    <td>{{i.vendorName}}</td>                                
	                                    <td><a ng-href="#/workerJobDetails/{{i.workJobDetailsId}}"> {{i.workerName}}</a></td>                                                              
	                                    <td>{{i.transactionDate}}</td>                                    
	                                    <td>{{i.isActive}}</td>                                     
	                                </tr>
	                            </tbody> -->
	                        </table>
                    	</div>
                	</div>
            	</div>
            	<br />
        	</div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-bottom text-center" style="min-height: 15px; padding: 0px;">
        <div class="container text-right" style="">
            <label class="control-label text-center" style="color: white; margin: 0px; font-size: 14px;">@Copyright</label>
        </div>
    </div>
</div>
</body>
</html>
