<form id="budgetForm" name="budgetForm" novalidate ng-submit="submit"> 
	<div class="container-fluid">
    	<div class="col-md-12 well">
         	<h3 class="cls_plainheader">Budget Details</h3>
         	<div class="col-md-12">
	        <br>
	       <div class="panel panel-default" ng-show="transactionList">
				<div class="container">
					<h5 class="cls_plainheader"> Search : </h5>
					<div class="row">
						<div class="col-md-6 transactionList">
							<div class="form-group">
								<label for="transactionList" class="col-md-4 control-label">Transaction Date's :</label>
								<div class="col-md-6 select-box">
                                    <select  ng-model="transactionModel" ng-change="transactionDatesListChange()" ng-options="item.id as item.name for item in transactionDatesList " class="form-control" id="transactionModel" ng-disabled="readOnly">
                                    	<option value="">Select</option>
                                    </select>   
                                    <span class="input-group-btn">
										<label for="transactionList" class="fa fa-caret-down"></label>
									</span>                        											
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="pull-left" style="width: 105%" />
			</div> 
                    
			<div class="panel panel-default">
            	<div class="sepr">
               		<div class="row">
                    	<div class="col-md-6">
                        	<div class="form-group is-empty">
                            	<label for="customerName" class="col-md-4 control-label required">Customer Name</label>
                                <div class="col-md-8 select-box">
                                    <select  ng-change="customerChange()"  ng-model="budget.customerId" ng-options="item.customerId as item.customerName for item in budgetList.customerList" class="form-control" id="custName" name="custName()" ng-disabled="readOnly || onlyRead" required>
						 				<option value="">Select</option>
                                    </select> 
                                    <span class="input-group-btn">
										<label for="customerName" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>
							
							<div class="form-group is-empty">
                           		<label for="countryName" class="col-md-4 control-label required">Country Name</label>
                                <div class="col-md-8 select-box">
									<select ng-change="countryChange()" ng-model="budget.countryId" ng-options="item.id as item.name for item in budgetList.countryList" class="form-control" id="countryName" name="countryId" ng-disabled="readOnly || onlyRead" required>
										<option value="">Select</option>
                                   	</select> 	  
                                    	<span class="input-group-btn">
										<label for="countryName" class="fa fa-caret-down"></label>
									</span>                                  
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="locationId" class="col-md-4 control-label">Location</label>
                                <div class="col-md-8 select-box">
									<select id="locationId" class="form-control" ng-model="budget.locationId" ng-options="item.locationId as item.locationName for item in budgetList.locationsList " name="locationId" ng-disabled="readOnly" >
                                        <option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="locationId" class="fa fa-caret-down"></label>
									</span>                                
								</div>
                            </div>
						</div>

						<div class="col-md-6">
                        	<div class="form-group is-empty">
                            	<label for="companyName" class="col-md-4 control-label required">Company Name</label>
                            	<div class="col-md-8 select-box">
									<select ng-change="companyChange()"  ng-model="budget.companyId" ng-options="item.id as item.name for item in budgetList.companyList" class="form-control" id="companyName" name= "companyName"ng-disabled="readOnly || onlyRead" required>
								 		<option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="companyName" class="fa fa-caret-down"></label>
									</span>
                              	</div>
							</div>
							
							<div class="form-group">
                                <label for="departmentId" class="col-md-4 control-label">Department</label>
                                <div class="col-md-8 select-box">
                                    <select id="departmentId" class="form-control" ng-model="budget.departmentId" ng-options="item.id as item.name for item in budgetList.departmentsList " name="departmentId" ng-disabled="readOnly" >
                                        <option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="departmentId" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>
						
							<div class="form-group is-empty">
                            	<label for="budgetCode" class="col-md-4 control-label required">Budget ID</label>
                                <div class="col-md-8">
									<input type="text" ng-model="budget.budgetCode" placeholder="Budget ID" class="form-control capitalize" name="budgetCode" id="budgetCode" ng-disabled="readOnly || onlyRead"  onchange="angular.element(this).scope().checkBudgetCode()" maxlength="20" required>
                              	</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
           			
           
            <div class="panel panel-primary">
	            <div class="panel-heading">
	            	 <h5>Define Budget</h5>
	            </div>
                <div class="sepr">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="transactiondate" class="col-md-4 control-label required">Effective From Date</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="budget.transactionDate" id="transactionDate" readonly="true" name="transactionDate" placeholder="Effective From Date &#xf073;" ng-disabled="readOnly"  required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="budgetName" class="col-md-4 control-label required">Budget Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="budget.budgetName" id="budgetName"  name="budgetName" placeholder="Budget Name" maxlength ="50" ng-disabled="readOnly" required />
                                </div>
                            </div>
                            
                            <div class="form-group ">
                                <label for="consider" class="col-md-4 control-label required">Consider</label>
	                            <div class="col-md-8 radio radio-primary" style="display: inline-block">
                                   <label class=" control-label"><input type="radio" ng-model="budget.considerYear"  ng-checked="budget.considerYear == 'Financial'" value="Financial" id="hasFinancialYear"  name="isFinancialYear"  ng-disabled="readOnly">Financial Year</label>
                                   <label class="control-label"><input type="radio" ng-model="budget.considerYear"  ng-checked="budget.considerYear == 'Calendar'" value="Calendar" id="hasCalendarYear"  name="isCalendarYear"  ng-disabled="readOnly">Calendar Year</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="budgetStatus" class="col-md-4 control-label required">Budget Status</label>
                                <div class="col-md-8 select-box">
                                    <select id="budgetStatus" class="form-control" ng-model="budget.budgetStatus"  ng-options="item.id as item.name for item in list_budgetStatus " name="budgetStatus" ng-disabled="readOnly" required>
                                        <option value="Y">Active</option>
                                        <option value="N">Inactive</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="budgetStatus" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>   
                            
                            <div class="form-group">
                                <label for="approvalStatus" class="col-md-4 control-label required">Approval Status</label>
                                <div class="col-md-8 select-box">
                                    <select id="approvalStatus" class="form-control" ng-model="budget.approvalStatus" ng-options="item.id as item.name for item in list_approvalStatus " name="approvalStatus" ng-disabled="readOnly" required>
                                        <option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="approvalStatus" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>  
                            
                            <div class="form-group">
                                <label for="budgetYear" class="col-md-4 control-label required">Budget Year</label>
                                <div class="col-md-8 select-box">
                                    <select id="budgetYear" class="form-control" ng-model="budget.budgetYear" ng-options="item.id as item.name for item in list_years " name="budgetYear" ng-disabled="readOnly||onlyRead" ng-change="checkBudgetYear()" required>
                                        <option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="budgetYear" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>                                        
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" >
                                <label for="budgetType" class="col-md-4 control-label required">Budget Type</label>
                                <div class="col-md-8 select-box"> 
	                                <select id="budgetType" class="form-control" ng-model="budget.budgetType" ng-options="item.id as item.name for item in list_budgetTypes"  name="budgetType" ng-disabled="readOnly" required>
	                                    <option value="">Select</option>
	                                </select>
	                                <span class="input-group-btn">
										<label for="budgetType" class="fa fa-caret-down"></label>
									</span>
                            	</div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="budgetFrequency" class="col-md-4 control-label required">Budget Frequency</label>
                                <div class="col-md-8 select-box">
                                    <select id="budgetFrequency" class="form-control" ng-model="budget.budgetFrequency" ng-options="item.id as item.name for item in list_budgetFrequencies" name="budgetFrequency" ng-disabled="readOnly" required>
                                        <option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="budgetFrequency" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>  
                                                                       
                        </div>
                    </div>
                    
                    <div class="row">
                       	<div class="panel panel-primary">
			                 <div class="panel-heading">
			                 	<h5 >Budget Based on Skill Types </h5>
			                 </div>
			                 <div class="sepr">
			                 	<div class="row">
                            		<div class="col-md-12">
                                		<table class="table table-striped " id = "attachment1">
                                    		<thead>
		                                        <tr>
		                                        	<th>Skill Type</th>
		                                         	<th>Headcount</th>
		                                            <th>Amount</th>
		                                            <th>Currency</th>
		                                            <th></th>
		                                            <th><i class="fa fa-plus addrow " data-toggle="modal" data-target="#skillsList" ng-show="gridButtons" ng-click ="plusIconAction()"> </i></td>
		                                        </tr>
                                    		</thead>
                                    		<tbody>
		                                        <tr ng-repeat = "i in budget.budgetSkillsList" on-last-repeat >
		                                        	<td>{{i.skillType}}</td>
		                                         	<td>{{i.headCount}}</td>
		                                         	<td>{{i.amount}}</td>
		                                         	<td>{{i.currencyName}}</td>
		                                            <td> <i ng-click="Delete($event)" class="fa fa-trash" ng-show="gridButtons"></i></td>
		                                            <td><input type="hidden" value="i.currencyId"></input></td>
   			                            			<td><i ng-click="Edit($event)"  class="fa fa-edit" data-toggle="modal" data-target="#skillsList" ng-show="gridButtons"></i></td>
 			                                    </tr>
                                    		</tbody>
                                		</table>
                            		</div> 
                            	</div>
                            </div>
                         </div>
                      </div>
                      <div class="row">
                       	<div class="panel panel-primary">
			                 <div class="panel-heading">
			                 	<h5 >Expenses Covered </h5>
			                 </div>
			                 <div class="sepr">
			                 	<div class="row" id="expensesCovered">
			                        <div class="col-md-4">
			                            <div class="form-group">
			                                <div class="checkbox">
			                                    <label style="margin-left: 30px;">
			                                        <input type="checkbox" ng-model="budget.hasRegularWages"  ng-disabled="readOnly"/>
			                                        Regular Wages
			                                    </label>
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <div class="checkbox">
			                                    <label style="margin-left: 30px;">
			                                        <input type="checkbox" ng-model="budget.hasLoans"  ng-disabled="readOnly"/>
			                                        Advance/Loans
			                                    </label>
			                                </div>
			                            </div>
			                       	</div>
			                       	<div class="col-md-4">
			                            <div class="form-group">
			                                <div class="checkbox">
			                                    <label style="margin-left: 30px;">
			                                        <input type="checkbox" ng-model="budget.hasOvertimeWages"  ng-disabled="readOnly"/>
			                                        Overtime Wages
			                                    </label>
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <div class="checkbox">
			                                    <label style="margin-left: 30px;">
			                                        <input type="checkbox" ng-model="budget.hasAdditionalAllowance"  ng-disabled="readOnly "/>
			                                        Additional Allowances
			                                    </label>
			                                </div>
			                            </div>
			                       	</div>
			                       	<div class="col-md-4">
			                            <div class="form-group">
			                                <div class="checkbox">
			                                    <label style="margin-left: 30px;">
			                                        <input type="checkbox" ng-model="budget.hasBonus"  ng-disabled="readOnly"/>
			                                        Bonus
			                                    </label>
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <div class="checkbox">
			                                    <label style="margin-left: 30px;">
			                                        <input type="checkbox" ng-model="budget.hasOther"  ng-disabled="readOnly "/>
			                                        Others
			                                    </label>
			                                </div>
			                            </div>
			                       	</div>
                            	</div>
                         	</div>
                         </div>
                      </div>
                      
                </div>
            </div>
             
        </div>

         <div class="btn-group btn-group-right pull-right">
			 <a href="javascript:void(0)" class="btn btn-primary"  ng-show="saveBtn && buttonArray.includes('SAVE')" ng-click="enable || save($event)">Save</a>
			 <a href="javascript:void(0)" class="btn btn-primary"  ng-show="approvalBtn && buttonArray.includes('APPROVE')" ng-click="sendForApproval()">Send For Approval</a>
			 <a href="javascript:void(0)" class="btn btn-primary"  ng-show="updateBtn  && buttonArray.includes('UPDATE')" ng-click="updateBtnAction()">Update</a>
 			 <a href="javascript:void(0)" class="btn btn-primary"  ng-click="viewOrEditHistory()" ng-show="viewOrUpdateBtn && buttonArray.includes('VIEW HISTORY')">View Or Update History</a>
			 <a href="javascript:void(0)" class="btn btn-primary"  ng-show="correctHistoryBtn  && buttonArray.includes('CORRECT HISTORY')" ng-click="enable || save($event)">Correct History</a> 
 			 <a href="javascript:void(0)" class="btn btn-primary"  ng-show="cancelBtn" ng-click="cancelBtnAction($event)"> Cancel </a>
			 <button class="btn btn-primary" ng-show="resetBtn" type="reset"> Reset </button> 
			 <a href="#/searchBudget" class="btn btn-primary">Return To Search</a> 
		</div>

    </div>
</div>
<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-bottom text-center" style="min-height: 15px; padding: 0px;">
        <div class="container text-right" style="">
            <label class="control-label text-center" style="color: white; margin: 0px; font-size: 14px;">@Copyright</label>
        </div>
    </div>
</div>

</form>
           
<form id="skillForm">
<!-- Modal -->
	<div class="modal fade" id="skillsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Define Budget Based on Skill </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="sepr">
                            <div class="row">
                                <div class="col-md-6">                                    
                                    <div class="form-group">
                                        <label for="skillType" class="col-md-5 control-label required">Skill Type</label>
                                        <div class="col-md-7 select-box">
                                        	<select  ng-model="skill.skillType" name="skillType" ng-options="item.id as item.name for item in list_workSkill" class="form-control"  id="skillType" ng-disabled="disableSkill" required>
                                           		<option value="">Select</option>
                                            </select>
                                            <span class="input-group-btn">
                                     			<label for="skillType" class="fa fa-caret-down"></label>
                                        	</span>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                    	<label for="amount" class="col-md-5 control-label required">Amount</label>
		                                <div class="col-md-3">
		                                    <input type="text" class="form-control onlyNumbers"  ng-model="skill.amount" id="amount" name="amount" placeholder="Amount" maxlength="10" ng-disabled="readOnly" required/>
		                                </div>
		                                <div class="col-md-4 select-box">
		 									  <input type="text" class="form-control"  ng-model="skill.currencyName" id="currency" name="currency" placeholder="Currency" maxlength="10" ng-disabled="true" required />                       
										</div>
                                    </div> 
                                </div>
                                <div class="col-md-6">                                    
                                    <div class="form-group">
                                        <label for="headCount" class="col-md-5 control-label required ">Headcount</label>
                                        <div class="col-md-7 select-box">
                                        	<input type="text" class="form-control onlyNumbers"  ng-model="skill.headCount" id="headCount" name="headCount" placeholder="Headcount" maxlength="10" ng-disabled="readOnly" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <br/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
	                <button type="button"  class="btn btn-primary"  ng-click="saveChanges()" ng-show ="popUpSave">Save Changes</button>
 	                <button type="button"  class="btn btn-primary"  ng-click="updateChanges($event)"  ng-show ="popUpUpdate">Update Changes</button>
 	                <button type="button" class="btn btn-warning"  ng-click="close_skills()"> Reset </button>
 	                <button type="button" class="btn btn-warning"  ng-click="close_skillsPopup()"> Close </button>
            	</div>
            </div>
        </div>
	</div>
</form>
                            