

<div class="container-fluid">
	<div class="col-md-12 well">
		<h3 class="cls_plainheader"> Module </h3>
		<div class="col-md-12">
			<a class="btn btn-primary pull-right" 
				href="#/approvalPathModule/0">Add New Module <i
				class="fa fa-plus-circle"></i></a> <br /> <br /> <br />
			<div class="panel panel-primary">	
				<div class="panel-heading">
					<h5>Search Module </h5>
				</div>	
				<div class="sepr">						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="customerId" class="col-md-4 control-label "> Customer Name</label>
									<div class="col-md-8 select-box">
										<select ng-change="customerChange()" ng-model="module.customerId" ng-options="item.customerId as item.customerName for item in customerList "  class="form-control" id="customerId" >
											<option value="">Select</option>
										</select>
										<span class="input-group-btn">
                                     		<label for="Select1" class="fa fa-caret-down"></label>
                                        </span>
									</div>
								</div>
								<div class="form-group">
									<label for="moduleCode" class="col-md-4 control-label "> Module Code</label>
									<div class="col-md-8 select-box">
										<input type="text" class="form-control" ng-model="module.moduleCode" name="moduleCode" id="moduleCode" maxlength="15">
									</div>
								</div>
								<div class="form-group">
									<label for="status" class="col-md-4 control-label "> Status </label>
									<div class="col-md-8 select-box">
										<select ng-model="module.isActive" ng-options="item.id as item.name for item in statusList " class="form-control" id="userId" >
											<option value="">Select</option>
										</select>
										<span class="input-group-btn">
                                     		<label for="Select1" class="fa fa-caret-down"></label>
                                        </span>
									</div>
								</div>
							</div>
							<div class="col-md-6">	
								<div class="form-group">
									<label for="companyId" class="col-md-4 control-label "> Company Name</label>
									<div class="col-md-8 select-box ">
										<select ng-model="module.companyId" ng-options="item.id as item.name for item in companyList " class="form-control" id="companyId" >
											<option value="">Select</option>
										</select>
										<span class="input-group-btn">
                                     		<label for="Select1" class="fa fa-caret-down"></label>
                                        </span>
									</div>
								</div>	
								<div class="form-group">
									<label for="moduleName" class="col-md-4 control-label "> Module Name</label>
									<div class="col-md-8 select-box">
										<input type="text" class="form-control" ng-model="module.moduleName" name="moduleName" id="moduleName" maxlength="25">
									</div>
								</div>	
								<a class="btn btn-primary col-md-3"
										ng-click="fun_search($event)">Search <i class="fa fa-search"></i></a>					
								<a class="btn btn-warning col-md-3 "
										ng-click="fun_clearSearchFields($event)">Clear <i
										class="fa fa-times"></i></a>
						</div>
					</div>
				</div>
			</div>
				
			<div class="panel panel-default" ng-show="tableView">
				<br />
				<div class="sepr">
					<table id="searchResults" class="table table-striped">
						<thead>
							<tr>
								<th>Module Name</th>
								<th>Module Name</th>
								<th>Created Date</th>
								<th>Modified Date</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<br />
		</div>
		<div class="container-fluid">
			<div class="navbar navbar-default navbar-fixed-bottom text-center"
				style="min-height: 15px; padding: 0px;">
				<div class="container text-right" style="">
					<label class="control-label text-center"
						style="color: white !important; margin: 0px; font-size: 14px;">@Copyright</label>
				</div>
			</div>
		</div>
	</div>
</div>