


<div class="container-fluid">
    <div class="col-md-12 well">
     <h3 class="cls_plainheader">Search Exceptions</h3>
        <div class="col-md-12">
            <a class="btn btn-primary pull-right" ng-href="#/addException/0" ng-show="buttonArray.includes('ADD')">Add New Exception <i class="fa fa-plus-circle"></i></a>
            <br />
            <br />
            <br />
            <div class="panel panel-primary">
            
				<div class="panel-heading">
             		<h5>Search Existing Exception</h5>
            	</div>
                <div class="sepr">
                    
                    <div class="row">
                    	<div class="col-md-6">
                        	<div class="form-group is-empty">
                                <label for="customerName" class="col-md-4 control-label">Customer Name</label>
                                <div class="col-md-8 select-box">
                                	<select  ng-change="customerChange()"  ng-model="customerName" ng-options="item.customerId as item.customerName for item in customerList" class="form-control" id="customerName" name="customerName" ng-disabled="readOnly">
						 				<option value="">Select</option>
                                    </select> 
                                    <span class="input-group-btn">
										<label for="Select1" class="fa fa-caret-down"></label>
									</span>
                                </div>
                            </div>

							<div class="form-group is-empty">
                                   <label for="exceptionCode" class="col-md-4 control-label">Exception Code</label>
                                   <div class="col-md-8">
									<input type="text" ng-model="exceptionCode" class="form-control" id="exceptionCode"  name="exceptionCode" placeholder="Exception Code">
                               	</div>
							</div>
							
							<div class="form-group">
								<label for="status" class="col-md-4 control-label">Status</label>
								<div class="col-md-8 select-box">
									<select ng-model="status" class="form-control" name="status" id = "status" >
										<option value="Y">Active</option>
										<option value="N">Inactive</option>
									</select>
									
									<span class="input-group-btn">
                                    <label for="Select1" class="fa fa-caret-down"></label>
                                       </span>
								</div>
							</div>
                                      
						</div>

						<div class="col-md-6">
                               <div class="form-group is-empty">
                                   <label for="companyName" class="col-md-4 control-label">Company Name</label>
                                   <div class="col-md-8 select-box">
									<select ng-change="companyChange()" ng-model="companyName" ng-options="item.id as item.name for item in companyList" class="form-control" id="companyName" name="companyName" ng-disabled="readOnly">
									 	<option value="">Select</option>
                                    </select>
                                    <span class="input-group-btn">
										<label for="Select1" class="fa fa-caret-down"></label>
									</span>
                               	</div>

							</div>
							
							<div class="form-group is-empty">
                                   <label for="exceptionName" class="col-md-4 control-label">Exception Name</label>
                                   <div class="col-md-8">
									<input type="text" ng-model="exceptionName" class="form-control" id="exceptionName"  name="exceptionName" placeholder="Exception Name">
                               	</div>
							</div>
						</div>
                        <div class="col-md-3 pull-right">
                          	<a class="btn btn-primary col-md-6 col-md-offset-5 " ng-click="search()">Search <i class="fa fa-search"></i></a>
                          	<a class="btn btn-warning col-md-5" ng-click="clear()">Clear <i class="fa fa-times"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" id="searchPanel">
	            <div class="panel-heading">
	            	<h5>Search Result</h5>
	            </div>
                <div class="sepr">
                    <div class="row">
                        <table class="table table-striped" id="exceptionTable">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Company Name</th>
                                    <th>Country Name</th>
                                    <th>Exception Code</th>
                                    <th>Exception Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-bottom text-center" style="min-height: 15px; padding: 0px;">
        <div class="container text-right" style="">
            <label class="control-label text-center" style="color: white; margin: 0px; font-size: 14px;">@Copyright</label>
        </div>
    </div>
</div>
