
<div class="container-fluid">
 <form id="gatePassAcessDetails" name="gatePassAcessDetails" novalidate ng-submit="submit" > 
	 <div class="col-md-12 well">
	 <h3 class="cls_plainheader"> Gate Pass Rules </h3>
	 <div class="col-md-12">
         <div class="panel panel-primary" ng-show="transactionList">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="employeeGatePassAccessId" class="col-md-4 control-label">Transaction Date's :</label>
							<div class="col-md-6 select-box">
                                         <select  ng-model="employeeGatePassAccessId" ng-change="fun_transactionDatesListChnage()" ng-options="item.id as item.name for item in transactionDatesList " class="form-control" id="employeeGatePassAccessId">
                                         <option value="">Select</option>
                                         </select>   
                                         
 <span class="input-group-btn">
<label for="Select1" class="fa fa-caret-down"></label>
</span>                                      											
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- <hr class="pull-left" style="width: 100%" /> -->
			</div>
   </div>
        <br />
        <div class="col-md-12">
           <div class="panel panel-primary">
           <div class="panel-heading" ng-show="transactionList == false">
              <h5> Search </h5>
           </div>
                <div class="sepr">
                 
                    <div class="row"> 
						<div class="col-md-6">
	                            <div class="form-group">
	                                <label for="customerName" class="col-md-4 control-label required">Customer Name</label>
	                                <div class="col-md-8 select-box">
	                                <select  ng-model="customerDetailsId" name="customerDetailsId" ng-options="item.customerId as item.customerName for item in customerList " class="form-control" id="customerName" ng-change="fun_CustomerChangeListener()" ng-disabled="readonlyEdit" required>
	                                            <option value="">Select</option>
	                                            </select>     	                                            
										 <span class="input-group-btn">
										<label for="Select1" class="fa fa-caret-down"></label>
										</span>                                
	                                </div>
	                            </div> 
	                           <div class="form-group">
	                                <label for="customerName" class="col-md-4 control-label required">Country Name</label>
	                                <div class="col-md-8 select-box">
	                                <select  ng-model="countryId" name="countryId" ng-options="item.id as item.name for item in countriesList " class="form-control" id="countryName"  ng-disabled="readonlyEdit" required> <!-- ng-change="fun_CountryChangeListener()" -->
	                                            <option value="">Select</option>
	                                            </select>    	                                           
										 <span class="input-group-btn">
										<label for="Select1" class="fa fa-caret-down"></label>
										</span>                                 
	                                </div>
                               </div>                     
                        </div>                        
                       	<div class="col-md-6">
	                       	<div class="form-group">
	                                <label for="companyName" class="col-md-4 control-label required">Company Name </label>
	                                <div class="col-md-8 select-box">
	                                <select  ng-model="companyDetailsId" name="companyDetailsId" ng-options="item.id as item.name for item in companyList " class="form-control" id="companyName" ng-change="fun_CompanyChangeListener()" ng-disabled="readonlyEdit" required>
	                                            <option value="">Select</option>
	                                            </select>  	                                            
											 <span class="input-group-btn">
											<label for="Select1" class="fa fa-caret-down"></label>
											</span>                                   
	                                </div>                          
	                         </div> 	                         
	                         <div class="form-group">
	                                <label for="locationDetailsId" class="col-md-4 control-label required">Location Name </label>
	                                <div class="col-md-8 select-box">
	                                <select  ng-model="locationDetailsId" name="locationDetailsId" ng-options="item.locationId as item.locationName for item in locationList " class="form-control" id="locationDetailsId" ng-change="fun_LocationChangeListener()" ng-disabled="readonlyEdit" required>
	                                            <option value="">Select</option>
	                                            </select>  	                                            
										 <span class="input-group-btn">
										<label for="Select1" class="fa fa-caret-down"></label>
										</span>                                   
	                                </div>                          
	                         </div> 
	                                                                                
                        </div> 
                   </div>
              </div>                        
            </div>                
            <input type="hidden" ng-model="employeeGatePassAccessId" />
            <div class="panel panel-primary">
             <div class="panel-heading">
              <h5 >Define Max OT Limit</h5>
           </div>
                <div class="sepr">
                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="transactionDate" class="col-md-6 control-label required">Effective From Date</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="transactionDate" data-dtp="dtp_cdo8l" placeholder="Effective From Date &#xf073;" ng-model="transactionDate" name="transactionDate" readonly="true" ng-disabled="readonly" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label for="isActive" class="col-md-6 control-label required">Status</label>
                                <div class="col-md-6 select-box">  
                                 <select id="isActive" class="form-control" ng-model="shifts.isActive" name="isActive" ng-options="item.id as item.name for item in list_status "  ng-disabled="readonly" required>                                                                                
                                    </select>                                           
									 <span class="input-group-btn">
									<label for="Select1" class="fa fa-caret-down"></label>
									</span>                                                                          
                                </div>
                            </div> -->
							<div class="form-group">
                                <label for="cuttOfHoursORMonth" class="col-md-6 control-label required">Cut Off Hours/Month </label>
                                <div class="col-md-6 ">  
                                         <input type="text" id="cuttOfHoursORMonth" class="form-control onlyNumbersWithZero" ng-model="cuttOfHoursORMonth" name="cuttOfHoursORMonth" placeholder="Cut Off Hours/Month" ng-disabled="readonly" maxlength="3" required>                                 									                                                                         
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
	<div class="btn-group btn-group-right pull-right">
            <a href="javascript:void(0)" class="btn btn-primary" ng-show="saveBtn && buttonArray.includes('SAVE')" ng-click=" enable || fun_save_gatePassAccess_Details($event)">Save</a>
            <a href="javascript:void(0)" class="btn btn-success" ng-show="updateBtn && buttonArray.includes('UPDATE')" ng-click="fun_updateActionBtn()">Update</a>
            <a href="javascript:void(0)" class="btn btn-success" ng-show="correctHistoryBtn && buttonArray.includes('CORRECT HISTORY')" ng-click=" enable || fun_save_gatePassAccess_Details($event)"> Correct History</a>            
            <a href="javascript:void(0)" class="btn btn-info" ng-show="viewHistoryBtn && buttonArray.includes('VIEW HISTORY')" ng-click="fun_viewHistoryBtn()">View History</a>
            <a href="javascript:void(0)" class="btn btn-warning" ng-show="cancelBtn" ng-click="fun_gatePassAccess_CancelBtn()" > Cancel </a>          
            <a href="javascript:void(0)" class="btn btn-warning" ng-show="cancelEditBtn" ng-click="fun_gatePassAccess_Cancel_Edit_Btn()" > Cancel </a>
        </div>               
    </div>
    </form>
</div>
<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-bottom text-center" style="min-height: 15px; padding: 0px;">
        <div class="container text-right" style="">
            <label class="control-label text-center" style="color: white; margin: 0px; font-size: 14px;">@Copyright</label>
        </div>
    </div>
</div>

</body>
</html>
