

<div class="container-fluid">
	<div class="col-md-12 well">
		<h3 class="cls_plainheader"> Define Group Permissions For Screen  </h3>
		<div class="col-md-12">
			<a class="btn btn-primary pull-right" 
				href="#/permissionsGroup/0">Add New Group for Screen  <i
				class="fa fa-plus-circle"></i></a> <br /> <br /> <br />
			<div class="panel panel-primary">	
				<div class="panel-heading">
					<h5>Search Screen Actions</h5>
				</div>	
				<div class="sepr">						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="permissionsGroupId" class="col-md-4 control-label ">Group Permission Name</label>
									<div class="col-md-8 select-box">
										<select ng-model="groupPermission.permissionsGroupId" ng-options="item.permissionsGroupId as item.permissionsGroupName for item in groupNames " class="form-control" id="permissionsGroupId" >
											<option value="">Select</option>
										</select>
										<span class="input-group-btn">
                                     <label for="Select1" class="fa fa-caret-down"></label>
                                        </span>
									</div>
								</div>
							</div>
							<div class="col-md-6">			
								<a class="btn btn-primary col-md-3"
										ng-click="fun_search($event)"
										onclick="return false;">Search <i class="fa fa-search"></i></a>					
								<a class="btn btn-warning col-md-3 "
										ng-click="fun_clearSearchFields($event)">Clear <i
										class="fa fa-times"></i></a>
						</div>
					</div>
				</div>
			</div>
				
			<div class="panel panel-default" ng-show="tableView">
				<br />
				<div class="sepr">
					<table id="searchResults" class="table table-striped">
						<thead>
							<tr>
								<th>Permissions Group Name</th>
								<th>Permissions Group Desc</th>
								<th>Created Date</th>
								<th>Modified Date</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<br />
		</div>
		<div class="container-fluid">
			<div class="navbar navbar-default navbar-fixed-bottom text-center"
				style="min-height: 15px; padding: 0px;">
				<div class="container text-right" style="">
					<label class="control-label text-center"
						style="color: white !important; margin: 0px; font-size: 14px;">@Copyright</label>
				</div>
			</div>
		</div>
	</div>
</div>