<style>
.dashboard-container{
	padding: 15px !important;
	/* height: 330px !important; */
	min-width: 200px !important;
	/* margin-right: 25px; */
}
.dashboard-item-title{
font-size: 16px;
    font-weight: bold;
    color: #347ab6;
    padding: 3px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: -5px !important;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}
.dashboard-item-sub-title{
    font-size: 15px;
    font-weight: bold;
    color: green !important;
    font-style: italic;
    text-align: center;
}
.row-margin-tb{
	margin: 5px 0px !important;
}
.color-brown{
	color:brown !important;
}
.worker-date{
		font-size: 14px;
		font-weight: bold; 
		color: darkorange;
		margin-bottom:20px;
		text-decoration: underline;
		height:25px;
		width:160px;
}
.worker-count{
    font-weight: bold;
    color: #3c763d;
    font-size: 30px;
    font-family: arial narrow;
    line-height: 0.9;
}
.worker-sub-count{
		font-size: 13px;
    color: #00b6ff;
    font-weight: 600;
    font-style:italic;
}
.worker-sub-count-legend{
		font-size: 10px; 
		font-family: arial narrow;
		font-weight: bold; 
		color: darkgray;
		margin-top:-5px;
}
.worker-container{
	/*padding: 5px !important;*/
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.item-scroll{
	overflow:auto !important;
	/* height: 260px !important; */
	/*min-width: 175px !important;*/
	padding:0px !important;
}
.padding-0{
    padding: 0px !important;
}
.padding-5{
    padding: 5px !important;
}
.margin-top-10{
    margin-top: -10px !important;
}
.well{
	margin-bottom:0px !important;
}
.date-container{
    margin-bottom: 25px;
    border: 1px solid #ddd;
    box-shadow: 5px 3px 15px rgba(0,0,0, 0.5);
    padding: 8px;
    background-color: #bdbdbd;
}
.compliance{
    font-size: 10px;
    margin: 5px 0px;
    color: black;
    font-weight: 400;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 4px;
}
.quicklink{
    font-family: arial narrow;
    font-size: 16px !important;
}
.scheduled { background-color: #eaa228; test-color: }
.present { background-color: #4bb2c5; }
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

         
</style>

<div class="container-fluid" >
	<div class="row " >
		<div class="col-sm-12 padding-0">
		
			<div class="row padding-0" >

				<div class="col-sm-2 padding-0">
					<div class="row padding-5 row-margin-tb" >
						<div class="col-sm-12 well dashboard-container" style="height: 300px !important;">
							<div class="row padding-0" >
								<div class="row dashboard-item-title">Quick Links</div>
							</div>
							<div class="row padding-0" >
								<div class="col-xs-12 padding-0 item-scroll">
									<div class="row row-margin-tb"><a class="quicklink" ng-href="#/companyWorkOrder"> Create Work Order </a></div>
									<div class="row row-margin-tb"><a class="quicklink" href="#/VendorSearch"> Vendor Registration </a></div>
									<!-- <div class="row row-margin-tb"><a class="quicklink" href="#/associateWorkOrdersearch"> Associate Work Order </a></div>
									<div class="row row-margin-tb"><a class="quicklink" href="#/VendorSearch"> Debar / Terminate Vendor </a></div> -->
									<div class="row row-margin-tb"><a class="quicklink" href="#/workerSearch"> Worker Registration </a></div>
									<!-- <div class="row row-margin-tb"><a class="quicklink" href="#/workerSearch"> Debar / Terminate Worker </a></div> -->
									<div class="row row-margin-tb"><a class="quicklink" href="#/AssignShifts"> Assign Shifts </a></div>
									<div class="row row-margin-tb"><a class="quicklink" href="#/attendancereport"> Attendance Report</a></div>
									<div class="row row-margin-tb"><a class="quicklink" href="#/WorkerMonthlyReport"> Horizontal Attendance Report</a></div>
									<div class="row row-margin-tb"><a class="quicklink" href="#/VendorComplianceSearch"> Vendor Compliance</a></div>
									<div class="row row-margin-tb"><a class="quicklink" href="#/OverTimeReport"> Overtime Report</a></div>
									<!-- <div class="row row-margin-tb"><a class="quicklink" href="#/EmployeeInformation"> Employee </a></div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-10 padding-5 padding-0">
					<div class="col-sm-8 padding-0 row-margin-tb">
					<div class="well dashboard-container" style="height: 300px !important;">
					<div class="row padding-0" >
						<div class="col-sm-12 dashboard-item-title">Worker Headcount</div>
					</div>
					<div class="row padding-0" >
						<div class="col-sm-12 item-scroll">
							<img id="workerInfoLoader" style="position:absolute; top:50px; left:100px; background-color:transparent;" src="images/loading.gif">
							<div class="col-sm-2 padding-5" style="margin-top: 5px !important;margin-right: 15px !important;" ng-repeat="i in workerInfoList">
								<div class="row padding-5 worker-container" style="height:240px !important;width:125px !important;">
									<div class="col-sm-12 padding-0" >
										<div class="row" style="text-align: center !important;">
											<div class="col-sm-12 col-md-12 worker-date">{{i.dateRange}}</div>
										</div>
										
										 <div class="row" style="padding-top: 15px; text-align: center !important;">
											<div class="row" style="padding-right: 15px" ng-repeat="j in i.types">
												<div class="worker-count" >{{j.totalValue}}</div>
														<div class="worker-sub-count" ng-show="j.workerType != 'New Registrations'" >{{j.workerType}}</div>
														<div class="worker-sub-count" ng-show="j.workerType == 'New Registrations'">
														<a ng-click="searchWorkers(j.workerType)" style="color:#00b6ff;cursor: pointer;">{{j.workerType}}</a>
														</div>
														</br>												</br>
											</div>								
											<!-- <div class="row" style="margin-top: 10px !important;">
												<div class="worker-sub-count">{{i.workerType}}</div>
												<div class="worker-count">{{i.totalValue}}</div>
											</div> -->								
										</div> 
									</div>
								</div>
							</div>
							<div id = "workerNoData" style="display:none;left:100px;">No Data Found.</div>
						</div>
					</div>
					<!-- <div class="row padding-0 row-margin-tb" >
						<div class="well dashboard-container" style="height: 160px !important;">
						
							<div class="row padding-0" >
								<div class="col-sm-12 dashboard-item-title">Worker</div>
							</div>
							
							<div class="row padding-0" >
									<img id="workerInfoLoader" style="position: relative; top: 5px; left: 150px; height: 100px;" src="images/loading.gif">
										<div id="workerInfoData" style="display:none">
										<table class="table" style="border:1px solid #ddd;">
											<tr>
												<th>Worker Status</th>
												<th>Month</th>
												<th>Week</th>
												<th>Today</th>
											</tr>
											<tbody>
												<tr>
													<td>
													New Joiners
													</td>
													<td>
													{{workerInfoList[1][1]}}
													</td>
													<td>
													{{workerInfoList[1][2]}}
													</td>
													<td>
													{{workerInfoList[1][3]}}
													</td>
												<tr>
													<td>
													Separated Workers
													</td>
													<td>
													{{workerInfoList[2][1]}}
													</td>
													<td>
													{{workerInfoList[2][2]}}
													</td>
													<td>
													{{workerInfoList[2][3]}}
													</td>
												</tr>
											</tbody>
										</table>
									
								</div>
							</div>
							<div id = "workerNoData" style="display:none;">No Data Found.</div>
						</div>
					</div> -->
					
					<!-- <div class="row padding-0 row-margin-tb" >
						<div class="col-sm-12 well dashboard-container" style="height: 150px !important;">
							<div class="row padding-0" >
								<div class="row dashboard-item-title">Vendor Compliance Status</div>
							</div>
							<div class="row padding-0" >
								<div class="col-xs-12 padding-0 item-scroll row-margin-tb" style="height: 100px !important;">
									<img id="complianceLoader" style="position: relative; left: 150px; height: 100px;" src="images/loading.gif">
									<div id = "compliance">
										<div class = "compliance" ng-repeat ="i in complianceList">
											<div class="compliance" >{{i.vendorName}} - {{i.complianceName}} - {{i.licenseNumber}} - {{i.status}} - {{i.expiryDate}}</div>
										</div>
									</div>
									<div id = "complianceNoData" style=" display:none;"">No Data Found.</div>
									
								</div>Regist
								
							</div>
						</div>
					</div> -->
									
				</div>
				</div>
				<div class="col-sm-4 padding-5 " >
					<div class="well dashboard-container" style="height: 300px !important;">
						<div class="row padding-0" >
							<div class="row dashboard-item-title">Active Worker Count By Age Group </div>
						</div>
						<div class="row padding-0" >
							<div class="col-xs-12 " style="height: 240px !important;width: 300px !important;left:-12px;">
								<img id="chartPieLoader" style="position:relative; top:50px; left:100px; background-color:transparent;" src="images/loading.gif">
								<div id="chartPie" style="height: 240px !important; width: 300px !important;"></div>
								 <div id="chartPieNodata" style="width:300px; display:none;position:relative; top:100px; left:125px; background-color:transparent;">
									Active Worker Count Data Not Found.
								</div> 
							</div>
						</div>
					</div>		
				</div>
			</div>
			</div>
			
			
			<div class="row padding-0" >
				<div class="col-sm-12 padding-0">
					<div class="row padding-5" >
						<div class="col-sm-12 well padding-0">
							<div class="row padding-0" >
								<div class="row dashboard-item-title">
									<div class="col-sm-2 padding-5 "  style="top:8px;">
										Attendance Status
									</div>
									<div class="col-sm-3 padding-5 " style="top:6px;" >
										From Date: <input type = text" ng-model="fromDate" name="fromDate" id="fromDate" placeholder = "From Date"/>
									</div>
									<div class="col-sm-3 padding-5 " style="top:6px;" >
										To Date: <input type = text" ng-model="toDate" name="toDate" id="toDate" placeholder = "To Date"/>
									</div>
									<div class="col-sm-1 padding-5 " style="top:-9px;left:-10px" >
										<button type="button" id="goButton"  class="btn btn-primary" ng-click="refreshAttendance()">Go</button>
									</div>
									<div class="col-sm-3 padding-5 legend" style="top:6px;left:10px"" >
										<ul class="legend">
											<li><span class="scheduled"></span> Scheduled</li>
											<li><span class="present"></span> Present</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="row padding-5" >
							
								<div class="col-sm-12 padding-0">
									<div class="row padding-0" >
										<div class="col-sm-5 padding-0">
											<div class="row padding-5" >
												<div class="well dashboard-container item-scroll" style="height: 360px !important; padding:5px;">
													<img id="chartShiftwiseLoader" style="position:relative; top:100px; left:125px; background-color:transparent;" src="images/loading.gif">
													<div id="chartShiftwiseNodata" style="width:300px; display:none;position:relative; top:100px; left:125px; background-color:transparent;">
														Shift Wise Data Not Found.
													</div>
													<div id="chartShiftwise" style="display:none;height: 340px !important;"></div>
												</div>		
											</div>
											<div class="row padding-5" >
												<div class="well dashboard-container item-scroll" style="height: 260px !important; padding:5px;">
													<img id="chartSkillwiseLoader" style="position:relative; top:100px; left:125px; background-color:transparent;" src="images/loading.gif">
													<div id="chartSkillwiseNodata" style="width:300px; display:none;position:relative; top:100px; left:125px; background-color:transparent;">
														Skill Wise Data Not Found.
													</div>
													<div id="chartSkillwise" style="display:none;height: 240px !important;" ></div>
												</div>		
											</div>
										</div>
										
										<div class="col-sm-7 ">
											<div class="row padding-5" >
												<div class="col-sm-12 well padding-0" style="height: 360px !important;">
													<div class=" dashboard-container item-scroll" style="height: 340px !important; padding:5px;width:660px">  <!-- 900 width -->
														<img id=chartDeptwiseLoader style="position:relative; top:100px; left:125px; background-color:transparent;" src="images/loading.gif">
														<div id="chartDeptwiseNodata" style="width:300px; display:none;position:relative; top:100px; left:125px; background-color:transparent;">
															Department Wise Data Not Found.
														</div>
														<!-- <div id="chartDeptwise" style="display:none; height: 340px !important;width: 660px !important;"></div> -->
														<div id="chartDeptwise" style="display:none; height: 340px !important;width: 760px !important;"></div>
													</div>	
												</div>
											</div>
										
										
											<div class="row padding-5" >
												<div class="well dashboard-container item-scroll" style="height: 260px !important;width: 660px !important; padding:5px;">  <!-- 770 width -->
													<img id="chartVendorwiseLoader" style="position:relative; top:80px; left:300px;  background-color:transparent;" src="images/loading.gif">
													<div id="chartVendorwiseNodata" style="width:300px; display:none;position:relative; top:100px; left:125px; background-color:transparent;">
														Vendor Wise Data Not Found.
													</div>
													<div id="chartVendorwise" style="display:none;height: 250px !important;width: 660px !important;" ></div>
												</div>		
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					
					
				</div>
			</div>

			<div class="row padding-0" >
				<div class="col-sm-9 padding-0">
					<div class="row padding-5" >

						<div class="well dashboard-container" style="height: 300px !important;">
							<div class="row padding-0" >
								<div class="col-sm-12 item-scroll" style="height: 275px !important;">
									<img id="chartOverTimeLoader" style="position:relative; top:75px; left:400px; background-color:transparent;" src="images/loading.gif">
									<div id="chartOverTimeNodata" style="width:300px; display:none;position:relative; top:100px; left:125px; background-color:transparent;">
										OT Data Not Found.
								</div>
									<div id="chartOverTime" style="display:none;height: 270px !important;"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="col-sm-3 well dashboard-container row-margin-tb" style="height: 300px !important;">
					<div class="row padding-0" >
						<div class="row dashboard-item-title">Vendor Compliance Status</div>
					</div>
					<div class="row padding-0" >
						<div class="col-xs-12 padding-0 item-scroll row-margin-tb" style="height: 220px !important;">
							<img id="complianceLoader" style="position: relative; left: 150px; height: 100px;" src="images/loading.gif">
							<div id = "compliance">
								<div  ng-repeat ="i in complianceList">
									<div class="compliance"> <a ng-href= '#/VendorComplianceAdd/{{i.vendorComplianceId}}'>{{i.vendorName}} ({{i.vendorCode}}) - {{i.complianceName}} - {{i.licenseNumber}} - {{i.status}} - {{i.expiryDate}}</a></div>
								</div>
							</div>
							<div id = "complianceNoData" style=" display:none;"">No Data Found.</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

