<div class="container-fluid">
    <div class="col-md-12 well">
    <h3 class="cls_plainheader">Location Search</h3>
    <form name="locationSearchForm" novalidate ng-submit="submit">    
        <div class="col-md-12">
            <a class="btn btn-primary pull-right" ng-href="#/LocationAdd/0" ng-show="buttonArray.includes('ADD')">Add New Location <i class="fa fa-plus-circle"></i></a>
            <br />
            <br />
            <br />
            <div class="panel panel-primary">
            <div class="panel-heading">
             <h5 >Search Existing Location</h5>
            </div>
                <div class="sepr">
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date" class="col-md-4 control-label">Customer Name</label>
                                <div class="col-md-8 select-box">
									<select  ng-change="customerChange()"  ng-model="customerName" ng-options="item as item.customerName for item in customerList " class="form-control" id="custName">
										<option value="">Select</option>
									</select>
									<span class="input-group-btn">
                                    	<label for="Select1" class="fa fa-caret-down"></label>
                                    </span>
								</div>
                            </div>
                            <div class="form-group">
								<label for="locationCode" class="col-md-4 control-label">Location Code</label>
								<div class="col-md-8">
									<input type="text" class="form-control capitalize" ng-model="location.locationCode" id="LocationID" placeholder="Location Code" maxlength="20"/>
								</div>
                            </div>
                            <div class="form-group">
                                <label for="aal1" class="col-md-4 control-label">Status</label>
                                <div class="col-md-8 select-box">
                                    <select id="Status" ng-model="location.status" class="form-control">
                                        <option value="Y">Active</option>
                                        <option Value="N">Inactive</option>
                                    </select>
                                    <span class="input-group-btn">
                                    	<label for="Select1" class="fa fa-caret-down"></label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                        	<div class="form-group">
								<label for="aal3" class="col-md-4 control-label">Company Name</label>
								<div class="col-md-8 select-box">
									<select   ng-model="companyName" ng-options="item as item.name for item in companyList" class="form-control" id="compName">
											<option value="">Select</option>
									</select>
									<span class="input-group-btn">
                                     <label for="Select1" class="fa fa-caret-down"></label>
                                        </span>
								</div>
                            </div>

                            <div class="form-group">
                                <label for="aal1" class="col-md-4 control-label">Location Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control onlyAlphabets" ng-model="location.locationName" id="LocationName" placeholder="Location Name" maxlength="50" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 pull-right">
                            <a class="btn btn-primary col-md-3 col-md-offset-5" ng-click="search()">Search <i class="fa fa-search"></i></a>
                            <a class="btn btn-warning col-md-3" ng-click="clear()">Clear <i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" id="searchPanel">
            <div class="panel-heading">
               <h5 class="panhead">Search Result</h5>
            </div>
                <div class="sepr">
                  
                    <div>
                        <table class="table table-striped" id="locDT">
                            <thead>
                                <tr>         
                                	<th>Customer Name</th>
                                    <th>Company Name</th>                            
                                    <th>Location Code</th>
                                    <th>Location Name</th>                                                                     
                                    <th>Effective From Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>                           
                        </table>
                    </div>
                </div>
            </div>
            <br />            
        </div>
        </form>
    </div>    
</div>
<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-bottom text-center" style="min-height: 15px; padding: 0px;">
        <div class="container text-right" style="">
            <label class="control-label text-center" style="color: white; margin: 0px; font-size: 14px;">@Copyright</label>
        </div>
    </div>
</div>

